
.container4.shifted {
    margin-right: 300px; /* Adjust margin to match scanner width */
}

.table-container1 {
    width: 100%;
    height: 93%;
    overflow-y: auto; /* Enable vertical scrolling */       
    border-radius: 10px;
    padding: 10px;
    margin-top: 8px;
    
}
.table-container1 table td:nth-child(7),
.table-container1 table th:nth-child(7) {
    min-width: 250px; /* Increase this value as needed */
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* Edit User Sliding Form */
.edit-user-container {
    position: absolute;
    top: 50px;
    right: -300px;
    width: 300px;
    height: 89%;
    background: var(--primary-color);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease;
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    border-radius: .625rem;
    margin-top: 30px;
}

.edit-user-container.active {
    right: 0; /* Slide in from the right */
}

/* Close button */
.close-btn {
    align-self: flex-end;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styles */
.edit-user-container h1{
    margin-bottom: 20px;
}

.edit-user-container form{
    display: flex;
    flex-direction: column;
}

.edit-user-container form input,
.edit-user-container form select,
.edit-user-container form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.edit-user-container form button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.edit-user-container form button:hover {
    background: #218838;
}

.toggle-status-btn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    background: transparent; /* Set background to transparent */
    padding: 0; /* Remove padding if any */
    font-weight: bold;
}

.toggle-status-btn.deactivate-btn {
    color: red;
}

.toggle-status-btn.activate-btn {
    color: green;
}

.status-active {
    margin-top: 10px;
    display: flex;
    background-color: #28a745;
    color: #fff;
    padding: 4px 10px; 
    border-radius: 50px; 
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    min-width: 60px; 
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: center;
}

.status-deactivated {
    margin-top: 10px;
    display: flex;
    background-color: #ff0000; 
    color: #fff;
    padding: 4px 10px; 
    border-radius: 50px; 
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    min-width: 60px; 
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: center;
}


.floating-table-container {
    display: none;
    position: absolute;
    top: 7.9%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 97%;
    max-height: 89.5%;
    height: 100%;
    overflow-y: auto;
    background: var(--body-color);
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 200px rgba(10, 10, 10, 10); /* Black shadow */
}
.floating-table-container.active {
    display: block;
}
.floating-table-container h2 {
    margin-top: 0;
    color: var(--text-color);
}
.floating-table-container table {
    width: 100%;
    border-collapse: collapse;
}
.floating-table-container table, .floating-table-container th, .floating-table-container td {
    border: 1px solid #ccc;
}
.floating-table-container th, .floating-table-container td {
    padding: 10px;
    text-align: left;
}
.close-floating-table {
    cursor: pointer;
    color: red;
    float: right;
    font-size: 30px;
}
.close-floating-table:hover {
    color: darkred;
}

.userdetail th{
    color: var(--table-text-color);
}
h3{
    color: var(--table-text-color);
}

.update-btn , .close-user-btn{
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

#floatingTableButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    gap: 10px; /* Creates space between buttons */
}

.button-group button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #45a049;
}
